<h1>test</h1>



{{#each celebrityList}}
    <ul>
        <li>{{name}}</li>
        <li>{{occupation}}</li>
        <li>{{catchPhrase}}</li>
    </ul>
    
{{/each}}

<a href='/'><button class="go-back">Go Back ></button></a>