<h2>Movies List</h2>
<a  href='/'><button class='go-back' >Go Back ></button></a>




{{#each moviesArray}}
    <ul>
        <li>{{name}}</li>
        <li>{{genre}}</li>
        <li>{{plot}}</li>
        <ul>
            {{#each cast}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </ul>
    </ul>

{{/each}}